/** @format */

@use "../../../styles/abstracts/variables.scss" as var;
@use "../../../styles/abstracts/mixins.scss" as mix;

.sections {
  flex-grow: 608;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  .section {
    background-color: var.$color-white;
    padding: 3.2rem;
    border-radius: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mix.respond(phone) {
      padding: 2.4rem 2rem;
    }
  }
}
