/** @format */

@use "../../styles/abstracts/variables.scss" as var;
@use "../../styles/abstracts/mixins.scss" as mix;

.budgets {
  padding-bottom: 10.6rem;
  margin-bottom: 7.4rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
  }

  &__body {
    display: flex;
    gap: 2.4rem;

    @include mix.respond(tab-port) {
      flex-direction: column;
    }
  }

  @include mix.respond(phone) {
    padding-bottom: 7.4rem;
  }
}
