/** @format */

@use "../../styles/abstracts/mixins.scss" as mix;
@use "../../styles/abstracts/variables.scss" as var;

.sort {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__label {
    @include mix.typography(4, false, var.$color-gray-500);
  }
}
