/** @format */

@use "../../../styles/abstracts/variables.scss" as var;
@use "../../../styles/abstracts/mixins.scss" as mix;

.table-options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__select {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 2.4rem;
  }

  @include mix.respond(phone) {
  }
}
