/** @format */

@use "../../styles/abstracts/mixins.scss" as mix;

.main {
  width: 100%;
  height: 100dvh;
  margin-left: 8.8rem;
  transition: all 0.4s;

  @include mix.respond(tab-port) {
    margin-left: 0;
  }

  &__collapsed {
    margin-left: 30rem;
    transition: all 0.4s;

    @include mix.respond(tab-port) {
      margin-left: 0;
    }
  }
}
