/** @format */

@use "../../../styles/abstracts/variables.scss" as var;
@use "../../../styles/abstracts/mixins.scss" as mix;

.input {
  position: relative;
  width: 32rem;

  &__icon-container {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);

    svg {
      fill: var.$color-gray-900;
    }
  }

  @include mix.respond(tab-port) {
    width: 100%;
    margin-right: 2.4rem;
  }
}
