/** @format */

@use "../../styles/abstracts/variables.scss" as var;
@use "../../styles/abstracts/mixins.scss" as mix;

.dots {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 1.6rem;
  height: 1.6rem;

  .dot {
    width: 4px;
    height: 4px;
    background-color: var.$color-gray-300;
    border-radius: 50%;
  }
}

.dropdown {
  position: absolute;
  top: 3rem;
  right: 0;

  padding: 1.2rem 2rem;
  background-color: var.$color-white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  @include mix.typography(4, false, var.$color-gray-900);

  &__item {
    cursor: pointer;

    &:not(:first-child) {
      padding-top: 1.2rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var.$color-gray-100;
      padding-bottom: 1.2rem;
    }

    &:last-child {
      @include mix.typography(4, false, var.$color-secondary-red);
    }
  }
}

.btn__delete {
  @include mix.typography(4, false, var.$color-gray-500);
  align-self: center;
}
