/** @format */

@use "../../styles/abstracts/variables.scss" as var;

.dots {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 1.6rem;
  height: 1.6rem;

  .dot {
    width: 4px;
    height: 4px;
    background-color: var.$color-gray-300;
    border-radius: 50%;
  }
}
