/** @format */

@use "../../styles/abstracts/variables.scss" as var;
@use "../../styles/abstracts/mixins.scss" as mix;

.table {
  width: 100%;
  background-color: var.$color-white;

  &__header,
  &__row {
    display: grid;
    grid-template-columns: 420fr 120fr 200fr 120fr;
    gap: 3.2rem;
    padding: 1.6rem 1.6rem;
  }

  &__header {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var.$color-gray-100;
    margin: 2.4rem 0;

    &Cell {
      @include mix.typography(5, false, var.$color-gray-500);

      &:last-child {
        text-align: end;
      }
    }
  }

  &__row {
    &:not(:last-child) {
      border-bottom: 1px solid var.$color-gray-100;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    @include mix.typography(5, false, var.$color-gray-500);

    &:last-child {
      justify-self: flex-end;
    }

    img {
      border-radius: 50%;
      margin-right: 1.6rem;
    }

    .name {
      @include mix.typography(4, true, var.$color-gray-900);
    }
  }

  .amount {
    @include mix.typography(4, true, null);
    align-self: center;
    justify-self: end;

    &.positiveAmount {
      color: var.$color-secondary-green;
    }

    &.negativeAmount {
      color: var.$color-gray-900;
    }
  }

  .footer {
    margin-top: 2.4rem;
  }

  @include mix.respond(phone) {
    &__header {
      display: none;
    }

    &__row {
      padding: 1.6rem 0rem;
      grid-template-columns: 44fr 147fr 112fr;
      gap: 0;
      column-gap: 0.4rem;

      position: relative;

      &:first-child {
        margin-top: 1.6rem;
      }
    }

    &__cell {
      display: block;

      img {
        position: absolute;
      }

      .name {
        position: absolute;

        left: 4.6rem;
      }

      &--category {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      &--date {
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: end;
      }
    }

    .amount {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
}
