/** @format */

@use "../../../styles/abstracts/mixins.scss" as mix;

.logo__container {
  display: flex;

  @include mix.respond(tab-port) {
    display: none;
  }
}

.logo {
  padding: 4rem 0 4rem 3.2rem;
  padding-left: 4rem;

  &__small {
    padding-left: 0;
    transform: translateX(-14px);
  }
}
